{% extends "base-plus.html" %}
{% load static %}

{% block header_title %}
Dashboard - INSS<span class="produto-text"></span>
{% endblock %}

{% block addcss_extra %}
<link rel="stylesheet" href="{% static 'css/apps/inss/inss_dashboard.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<div class="container-fluid py-4 px-md-4" id="dashboard-container">
  <div class="box contagens" id="box-contagens">
    <div class="card total-periodo" id="card-total-agendamentos">
      <span class="icon"><i class='bx bx-calendar'></i></span>
      <span class="container-info">
        <span class="title">Total de Agendamentos</span>
        <span class="value" id="valor-total-agendamentos">100</span>
      </span>
    </div>
    <div class="card confirmados" id="card-confirmados">
      <span class="icon"><i class='bx bx-check-circle'></i></span>
      <span class="container-info">
        <span class="title">Confirmados</span>
        <span class="value" id="valor-confirmados">80</span>
      </span>
    </div>
    <div class="card finalizados" id="card-finalizados">
      <span class="icon"><i class='bx bx-check-double'></i></span>
      <span class="container-info">
        <span class="title">Finalizados</span>
        <span class="value" id="valor-finalizados">60</span>
      </span>
    </div>
    <div class="card atrasados" id="card-atrasados">
      <span class="icon"><i class='bx bx-time-five'></i></span>
      <span class="container-info">
        <span class="title">Atrasados</span>
        <span class="value" id="valor-atrasados">40</span>
      </span>
    </div>
  </div>
  <div class="box financeiro" id="box-financeiro">
    <div class="card tac-medio" id="card-tac-medio">
      <span class="icon"><i class='bx bx-money-withdraw'></i></span>
      <span class="container-info">
        <span class="title">TC Médio</span>
        <span class="value" id="valor-tac-medio">R$ 300,00</span>
      </span>
    </div>
    <div class="card tac-menor" id="card-tac-menor">
      <span class="icon"><i class='bx bx-trending-down'></i></span>
      <span class="container-info">
        <span class="title">TC Menor</span>
        <span class="value" id="valor-tac-menor">R$ 100,00</span>
      </span>
    </div>
    <div class="card tac-maior" id="card-tac-maior">
      <span class="icon"><i class='bx bx-trending-up'></i></span>
      <span class="container-info">
        <span class="title">TC Maior</span>
        <span class="value" id="valor-tac-maior">R$ 500,00</span>
      </span>
    </div>
    <div class="card efetividade-geral" id="card-efetividade">
      <span class="icon"><i class='bx bx-bar-chart-alt-2'></i></span>
      <span class="container-info">
        <span class="title">Efetividade Geral</span>
        <span class="value" id="valor-efetividade">80%</span>
      </span>
    </div>
  </div>
  <div class="box tacs" id="box-tacs">
    <div class="card tabela-lojas" id="card-tabela-lojas">
      <span class="container-info">
        <span class="header"><i class='bx bx-store'></i>Situação TCs</span>
        <div class="table-container" id="container-tabela-tacs">
          <table class="table table-striped table-hover" id="tabela-tacs">
            <thead>
              <tr>
                <th>Loja</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody id="corpo-tabela-tacs">
              <!-- Aqui serão inseridos os dados dinamicamente -->
            </tbody>
          </table>
        </div>
      </span>
    </div>
  </div>
  <div class="timestamp-container text-end mt-3" id="timestamp-container">
    <small class="text-muted">Última atualização: <span id="last-update-time"></span></small>
  </div>
</div>
{% endblock %}

{% block addjs_extra %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/apps/inss/inss_dashboard.js' %}"></script>
<script>
  // Adiciona timestamp de atualização
  document.getElementById('last-update-time').textContent = new Date().toLocaleString('pt-BR');
</script>
{% endblock %}

